html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--note-bg-color);
}

:root {
  --note-title-color: #8c7851;
  --note-color: #5a5243;
  --note-bg-color: #fffbf2;
  --line-color: #e0d9c4;
  --footer-bg-color: #f3eede;
  --text-font-size: 1.5rem;
}

@media screen and (max-width: 935px) {
  section {
    margin: 96px 5px 0 5px;
  }
}
@media screen and (min-width: 936px) {
  section {
    margin: 96px 30px 0 30px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Zen Kurenaido', sans-serif;
  font-weight: 400;
  font-style: normal;
}

*::selection {
  background: var(--note-title-color);
  color: var(--note-bg-color);
}
