html,
body {
  background-color: var(--background-color);
}

:root {
  --note-font-color: #5a5243;
  --note-line-color: #e0d9c4;
  --background-color: #fffbf2;

  --title-font-color: #8c7851;
  --title-font-size: clamp(2rem, 6cqw, 2.6rem);

  --text-xs: calc(1rem * 8 / 10);
  --text-sm: calc(1rem * 8 / 9);
  --text-base: calc(1rem * 8 / 8);
  --text-lg: calc(1rem * 8 / 7);
  --text-xl: calc(1rem * 8 / 6);
  --text-2xl: calc(1rem * 8 / 5);
  --text-3xl: calc(1rem * 8 / 4);
  --text-4xl: calc(1rem * 8 / 3);
  --text-5xl: calc(1rem * 8 / 2);
  --text-6xl: calc(1rem * 8 / 1);
}

@media screen and (max-width: 935px) {
  .section {
    margin: 96px 5px 0 5px;
  }
}
@media screen and (min-width: 936px) {
  .section {
    margin: 96px 30px 0 30px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Zen Kurenaido', sans-serif;
  font-weight: 400;
  font-style: normal;
}

*::selection {
  background-color: #fecf81;
}
