html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--note-bg-color);
}

:root {
  --note-title-color: #8c7851;
  --note-color: #5a5243;
  --note-bg-color: #fffbf2;
  --line-color: #e0d9c4;
  --footer-bg-color: #f3eede;
  --p-font-size: 1.5rem;
}

section {
  margin: 96px 30px 0 30px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Zen Kurenaido', sans-serif;
  font-weight: 400;
  font-style: normal;
}
