.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--note-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.fadeOut {
  opacity: 0;
}

.title {
  container-type: inline-size;
  color: var(--note-color);
  animation: fadeIn 1.5s forwards;
  width: 100%;
  text-align: center;
  font-size: min(6cqw, 2.3rem);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
