---
import Title from '../components/utils/Title.astro';
import NewsLi from '../components/utils/NewsLi.astro';
---

<div class="section">
  <Title title="【お知らせ】" />
  <div class="grid-paper">
    <ul>
      <NewsLi
        url="https://x.com/kirinohanovel/status/1962108105124360515"
        date="2025年8月31日"
        title="公式サイト開設"
      />
      <NewsLi
        url="https://x.com/kirinohanovel/status/1962108103618633751"
        date="2025年8月31日"
        title="公式YouTubeチャンネル開設"
      />
      <NewsLi
        url="https://x.com/kirinohanovel/status/1959571641484128619"
        date="2025年8月24日"
        title="なついろにっき。のキービジュアル公開"
      />
    </ul>
  </div>
</div>

<style>
  .grid-paper {
    height: 200px;
    padding: 30px 10px;
    background-image:
      linear-gradient(var(--line-color) 1px, transparent 1px),
      linear-gradient(90deg, var(--line-color) 1px, transparent 1px);
    background-size: 2.2rem 2.2rem;
    background-position: center top;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ul {
    width: fit-content;
    max-width: 1000px;
    height: 200px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0 auto;
    padding: 10px 0 30px 0;
    list-style: none;
    line-height: 2.5;
  }
  ul::-webkit-scrollbar {
    display: none;
  }
</style>
