---
import Title from '../components/utils/Title.astro';
import SubTitle from './utils/SubTitle.astro';
---

<div class="section">
  <Title id="products" title="【体験版情報】" />
  <SubTitle />
  <div class="grid-paper">
    <div class="box">
      <p class="label">タイトル</p>
      <h2 class="title">なついろにっき。</h2>
      <p class="label">ジャンル</p>
      <h3 class="subtitle"><span>少女と少し不思議な</span><span>一夏を過ごす恋愛ADV</span></h3>
      <p class="label">販売価格</p>
      <h3 class="subtitle">無料</h3>
      <div class="block">
        <div class="item">
          <p class="label">レーティング</p>
          <h3 class="subtitle">全年齢対象</h3>
        </div>
        <div class="item">
          <p class="label">配布形態</p>
          <h3 class="subtitle">DLカード</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .grid-paper {
    background-image:
      linear-gradient(var(--note-line-color) 1px, transparent 1px),
      linear-gradient(90deg, var(--note-line-color) 1px, transparent 1px);
    background-size: 2.2rem 2.2rem;
    background-position: center top;
    display: flex;
    padding: 0 30px;
  }
  .box {
    text-align: center;
    margin: 50px auto;
  }
  .label {
    font-size: var(--text-xl);
    margin: 0 0 20px 0;
  }
  .title {
    width: fit-content;
    font-size: var(--text-3xl);
    margin: 0 auto 80px auto;
    padding: 0 15px;
    background: linear-gradient(transparent 70%, #66c7ff65 0%);
  }
  .subtitle {
    width: fit-content;
    font-size: var(--text-2xl);
    margin: 0 auto 80px auto;
    padding: 0 15px;
    background: linear-gradient(transparent 70%, #66c7ff65 0%);
  }
  span {
    display: inline-block;
  }

  .block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .item {
    width: 165px;
    margin: 0 40px;
  }
</style>
