---
import Title from '../components/utils/Title.astro';
import { GridPaper } from '../components/GridPaper.tsx';
---

<div class="section">
  <Title title="【あらすじ】" />
  <GridPaper client:load />
</div>
