---
import Title from '../components/utils/Title.astro';
---

<section>
  <Title title="【あらすじ】" />
  <div class="grid-paper">
    <p>
      千ヶ崎蓮は、堕落した大学生活を送っていた。<br />
      ある夏の朝、天使・ステラが現れる。<br />
      彼女は毎朝、蓮を起こしにやって来る。<br />
      繰り返される朝の訪れの中で、<br />
      少しずつ変わっていく生活と、ふたりの距離。<br />
      やがて迎える別れのとき――<br />
      <span class="finish">その選択が、結末を大きく変えていく。</span><br />
    </p>
  </div>
</section>

<style>
  .grid-paper {
    padding: 60px 0;
    background-image:
      linear-gradient(var(--line-color) 1px, transparent 1px),
      linear-gradient(90deg, var(--line-color) 1px, transparent 1px);
    background-size: 2.2rem 2.2rem;
    background-position: center top;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grid-paper p {
    padding: 0 10px;
    line-height: 2.5;
    font-size: var(--text-font-size);
    color: var(--note-color);
  }

  /* Grid Paper Control */
  @media screen and (max-width: 935px) {
  }
  @media screen and (min-width: 936px) {
    .grid-paper p {
      writing-mode: vertical-rl;
    }
  }

  .finish {
    font-size: 1.9rem;
  }
</style>
