---
import Title from '../components/utils/Title.astro';
---

<section>
  <Title title="【あらすじ】" />
  <div class="grid-paper">
    <p>
      「じゃあ、願いが見つかるまで、毎朝起こしに来るわ。」<br />
      <br />
      長い長い夏休みは、１人で過ごすには退屈すぎた。<br />
      夢も希望もない留年寸前の大学生・蓮のもとに表れたのは、<br />
      なんでも願いを叶えてくれるという期限付きの"天使"ステラ。<br />
      願いのない蓮は、本当の願いを見つけるまで<br />
      ステラに毎朝起こしてもらうことに。<br />
      <br />
      二人で過ごす、ちょっと遅れた夏休み。<br />
      夏休みに終わりが見えても、彼女の手を話せなかった。<br />
      甘くて、痛くて、やさしい物語の行き先は――<br />
      依存か、自立か、それとも・・・。<br />
    </p>
  </div>
</section>

<style>
  .grid-paper {
    padding: 60px 0;
    background-image:
      linear-gradient(var(--line-color) 1px, transparent 1px),
      linear-gradient(90deg, var(--line-color) 1px, transparent 1px);
    background-size: 2.2rem 2.2rem;
    background-position: center top;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grid-paper p {
    padding: 0 10px;
    line-height: 2.5;
    font-size: var(--base-font-size);
    color: var(--note-color);
  }

  /* Grid Paper Control */
  @media screen and (max-width: 935px) {
    .grid-paper p {
      text-align: center;
    }
  }
  @media screen and (min-width: 936px) {
    .grid-paper p {
      writing-mode: vertical-rl;
    }
  }
</style>
