---
import Title from '../components/utils/Title.astro';
---

<section>
  <Title title="【あらすじ】" />
  <div class="grid-paper-pc">
    <p>
      千ヶ崎蓮は、堕落した大学生活を送っていた。<br />
      ある夏の朝、天使・ステラが現れる。<br />
      彼女は毎朝、蓮を起こしにやって来る。<br />
      繰り返される朝の訪れの中で、<br />
      少しずつ変わっていく生活と、ふたりの距離。<br />
      やがて迎える別れのとき――<br />
      <span class="finish">その選択が、結末を大きく変えていく。</span><br />
    </p>
  </div>
  <div class="grid-paper-mobile">
    <div>
      <p class="first-text">
        千ヶ崎蓮は、堕落した大学生活を送っていた。<br />
        ある夏の朝、天使・ステラが現れる。<br />
        彼女は毎朝、蓮を起こしにやって来る。<br />
        繰り返される朝の訪れの中で、<br />
      </p>
      <p class="second-text">
        少しずつ変わっていく生活と、ふたりの距離。<br />
        やがて迎える別れのとき――<br />
        <span class="finish">その選択が、結末を大きく変えていく。</span><br />
      </p>
    </div>
  </div>
</section>

<style>
  .grid-paper-pc {
    height: 650px;
    background-image:
      linear-gradient(var(--line-color) 1px, transparent 1px),
      linear-gradient(90deg, var(--line-color) 1px, transparent 1px);
    background-size: 2.2rem 2.2rem;
    background-position: center top;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grid-paper-mobile {
    height: 1400px;
    background-image:
      linear-gradient(var(--line-color) 1px, transparent 1px),
      linear-gradient(90deg, var(--line-color) 1px, transparent 1px);
    background-size: 2.2rem 2.2rem;
    background-position: center top;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grid-paper-mobile p {
    width: 100%;
    margin: 0 auto 0 0;
  }

  .grid-paper-mobile p.first-text {
    margin-bottom: 100px;
  }

  .grid-paper-mobile p.second-text {
    margin-top: 100px;
  }

  /* Grid Paper Control */
  @media screen and (max-width: 650px) {
    .grid-paper-pc {
      display: none;
    }
  }
  @media screen and (min-width: 651px) {
    .grid-paper-mobile {
      display: none;
    }
  }

  p {
    writing-mode: vertical-rl;
    line-height: 2.5;
    font-size: var(--p-font-size);
    color: var(--note-color);
  }

  .finish {
    font-size: 1.9rem;
  }
</style>
