---
import Title from '../components/utils/Title.astro';
---

<section>
  <Title title="【あらすじ】" />
  <div class="grid-paper">
    <p class="pc-view">
      「じゃあ、願いが見つかるまで、<br />
      毎朝起こしに来るわ。」<br />
      <br />
      長い長い夏休みは、１人で過ごすには退屈すぎた。<br />
      夢も希望もない留年寸前の<br />
      大学生・蓮のもとに表れたのは、<br />
      なんでも願いを叶えてくれるという<br />
      期限付きの"天使"ステラ。<br />
      願いのない蓮は、本当の願いを見つけるまで<br />
      ステラに毎朝起こしてもらうことに。<br />
      <br />
      二人で過ごす、ちょっと遅れた夏休み。<br />
      夏休みに終わりが見えても、彼女の手を離せなかった。<br />
      甘くて、痛くて、やさしい物語の行き先は<span class="dash">――</span><br />
      依存か、自立か、それとも・・・。<br />
    </p>
    <p class="mobile-view">
      「じゃあ、願いが見つかるまで、<br />
      毎朝起こしに来るわ。」<br />
      <br />
      長い長い夏休みは、<br />
      １人で過ごすには退屈すぎた。<br />
      夢も希望もない留年寸前の<br />
      大学生・蓮のもとに表れたのは、<br />
      なんでも願いを叶えてくれるという<br />
      期限付きの"天使"ステラ。<br />
      <br />
      願いのない蓮は、<br />
      本当の願いを見つけるまで<br />
      ステラに毎朝起こしてもらうことに。<br />
      <br />
      二人で過ごす、<br />
      ちょっと遅れた夏休み。<br />
      夏休みに終わりが見えても、<br />
      彼女の手を離せなかった。<br />
      甘くて、痛くて、<br />
      やさしい物語の行き先は<span class="dash">――</span><br />
      依存か、自立か、それとも・・・。<br />
    </p>
  </div>
</section>

<style>
  .grid-paper {
    padding: 60px 0;
    background-image:
      linear-gradient(var(--line-color) 1px, transparent 1px),
      linear-gradient(90deg, var(--line-color) 1px, transparent 1px);
    background-size: 2.2rem 2.2rem;
    background-position: center top;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grid-paper p .dash {
    letter-spacing: -0.2em;
    width: 2em;
    margin-right: 0.5em;
  }

  /* PC Version */
  .grid-paper .pc-view {
    padding: 0 10px;
    line-height: 2.5;
    font-size: var(--base-font-size);
    color: var(--note-color);
    writing-mode: vertical-rl;
  }

  /* Mobile Version */
  .grid-paper .mobile-view {
    padding: 0 10px;
    line-height: 1.5;
    color: var(--note-color);
    text-align: center;
  }

  /* Font Size Control */
  @media screen and (min-width: 470px) {
    .mobile-view {
      font-size: var(--base-font-size);
    }
  }
  @media screen and (max-width: 469px) {
    .mobile-view {
      font-size: var(--small-font-size);
    }
  }

  /* Grid Paper Control */
  @media screen and (max-width: 935px) {
    .pc-view {
      display: none;
    }
  }
  @media screen and (min-width: 936px) {
    .mobile-view {
      display: none;
    }
  }
</style>
