<section>
  <div id="grid-paper">
    <p>
      大学生の千ヶ崎蓮は、堕落した生活を送っていた。<br />ある夏の朝、彼は突如として謎の少女に起こされる。
    </p>
  </div>
</section>

<style>
  :root {
    --line-color: #e0d9c4;
  }
  #grid-paper {
    height: 700px;
    background-image:
      linear-gradient(var(--line-color) 1px, transparent 1px),
      linear-gradient(90deg, var(--line-color) 1px, transparent 1px);
    background-size: 2.2rem 2.2rem;
    background-position: center top;
  }
  p {
    writing-mode: vertical-rl;
    font-size: 1.2rem;
  }
</style>
