---
const { url, date, title } = Astro.props;
---

<li>
  <a href={url} target="_blank" rel="noopener noreferrer">
    <span class="date">{date}</span>
    <span class="title">{title}</span>
  </a>
</li>

<style>
  a {
    color: var(--note-font-color);
    text-decoration: none;
    cursor: pointer;
  }

  li {
    padding: 20px 30px 0 30px;
    border-bottom: 1px solid var(--note-font-color);
  }

  span {
    display: inline-block;
  }

  .date {
    margin: 0 20px 0 0;
  }

  @media screen and (min-width: 470px) {
    .date {
      font-size: var(--text-lg);
    }
    .title {
      font-size: var(--text-xl);
    }
  }
  @media screen and (max-width: 469px) {
    .date {
      font-size: var(--text-lg);
    }
    .title {
      font-size: var(--text-lg);
    }
  }
</style>
