<div class="sub-title">
  <p class="number">No.</p>
</div>

<style>
  .sub-title {
    --side-space: 40px;
    width: calc(100% - var(--side-space));
  }

  .number {
    font-size: var(--text-base);
    color: var(--note-line-color);
    text-align: right;
  }
</style>
